[user]
    name = David Park
    email = dpjungmin@gmail.com

[alias]
    aliases = config --get-regexp alias
    c = commit
    s = status
    st = status
    l = log --oneline
    lg = log --oneline --graph
    last = log -1 HEAD
    pf = push --force-with-lease
    r = rebase
    ri = rebase -i
    rc = rebase --continue
    root = rev-parse --show-toplevel
    path = rev-parse --show-prefix
    dfn = diff --diff-filter=d --name-only HEAD~1 HEAD
    dft = difftool

[init]
    defaultBranch = main

[fetch]
    prune = true

[pull]
    ff = only

[color]
    ui = auto

[core]
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    external = difft
    tool = difftastic
    colorMoved = default

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
