env:
  EDITOR: {{ .editor }}

window:
  dimensions:
    columns: 100
    lines: 85
  position:
    x: 0
    y: 0
  padding:
    x: 0
    y: 2
  dynamic_padding: true
  decorations: none
  opacity: 1
  startup_mode: Windowed
  title: Alacritty
  dynamic_title: true

scrolling:
  history: 100000
  multiplier: 3

font:
  normal:
    family: {{ .alacritty.font.family }}
    style: Regular
  bold:
    family: {{ .alacritty.font.family }}
    style: Bold
  italic:
    family: {{ .alacritty.font.family }}
    style: Italic
  bold_italic:
    family: {{ .alacritty.font.family }}
    style: Bold Italic
  size: {{ .alacritty.font.size }}
  offset:
    x: 1
    y: 1
  use_thin_strokes: true
  builtin_box_drawing: true

colors:
  primary:
    background: '#1d1f21'
    foreground: '#ccd6f6'

  normal:
    black:   '#0a0b0c'
    red:     '#cc6674'
    green:   '#90bd62'
    yellow:  '#d7b66f'
    blue:    '#8badcd'
    magenta: '#b799c8'
    cyan:    '#89beb7'
    white:   '#ccd6f6'

  bright:
    black:   '#8892b0'
    red:     '#d95555'
    green:   '#90bd62'
    yellow:  '#d7b66f'
    blue:    '#81a2bf'
    magenta: '#b799c8'
    cyan:    '#89beb7'
    white:   '#ccd6f6'

draw_bold_text_with_bright_colors: false

selection:
  semantic_escape_chars: ",│`|:\"' ()[]{}<>\t"
  save_to_clipboard: true

live_config_reload: true

shell:
  program: {{ .shell }}
  args:
    - --login

alt_send_esc: true

key_bindings:
  - { key: J,        mods: Alt,     chars: "\x1bj"                       }
  - { key: K,        mods: Alt,     chars: "\x1bk"                       }
  - { key: H,        mods: Alt,     chars: "\x1bh"                       }
  - { key: L,        mods: Alt,     chars: "\x1bl"                       }
