[user]
    name = {{ .gitconfig.name }}
    email = {{ .gitconfig.email }}

[alias]
    c = commit
    s = status
    st = status
    l = log --oneline
    lg = log --oneline --graph
    last = log -1 HEAD
    f = push --force-with-lease
    r = rebase
    root = rev-parse --show-toplevel
    path = rev-parse --show-prefix

[init]
    defaultBranch = main

[fetch]
    prune = true

[pull]
    ff = only

[color]
    ui = auto

[core]
    editor = {{ .editor }}
    pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    features = side-by-side lin-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
