env:
  EDITOR: {{ .editor }}

window:
  dimensions:
    columns: 100
    lines: 85
  position:
    x: 0
    y: 0
  padding:
    x: 2
    y: 2
  dynamic_padding: true
  decorations: none
  opacity: 1
  startup_mode: Windowed
  title: Alacritty
  dynamic_title: true

scrolling:
  history: 100000
  multiplier: 3

font:
  normal:
    family: {{ .alacritty.font }}
    style: Regular
  bold:
    family: {{ .alacritty.font }}
    style: Bold
  italic:
    family: {{ .alacritty.font }}
    style: Italic
  bold_italic:
    family: {{ .alacritty.font }}
    style: Bold Italic

{{ if eq .chezmoi.os "darwin" }}
  size: 27.0
{{ else if eq .chezmoi.os "linux" }}
  size: 12.0
{{ else }}
  size: 25.0
{{ end }}

  offset:
    x: 1
    y: 1
  use_thin_strokes: true
  builtin_box_drawing: true

# monokai pro (https://gist.github.com/AlphaTechnolog/d1d5f6557f77f71519cb5713268da7dd)
colors:
  # Default colors
  primary:
    background: '#1d2021'
    foreground: '#d5c4a1'

  cursor:
    text: '#1d2021'
    cursor: '#d5c4a1'

  # Normal colors
  normal:
    black:   '#1d2021'
    red:     '#fb4934'
    green:   '#b8bb26'
    yellow:  '#fabd2f'
    blue:    '#83a598'
    magenta: '#d3869b'
    cyan:    '#8ec07c'
    white:   '#d5c4a1'

  # Bright colors
  bright:
    black:   '#665c54'
    red:     '#fb4934'
    green:   '#b8bb26'
    yellow:  '#fabd2f'
    blue:    '#83a598'
    magenta: '#d3869b'
    cyan:    '#8ec07c'
    white:   '#fbf1c7'

  indexed_colors:
    - { index: 16, color: '#fe8019' }
    - { index: 17, color: '#d65d0e' }
    - { index: 18, color: '#3c3836' }
    - { index: 19, color: '#504945' }
    - { index: 20, color: '#bdae93' }
    - { index: 21, color: '#ebdbb2' }

draw_bold_text_with_bright_colors: false

selection:
  semantic_escape_chars: ",│`|:\"' ()[]{}<>\t"
  save_to_clipboard: true

live_config_reload: true

shell:
  program: {{ .shell }}
  args:
    - --login

alt_send_esc: true

key_bindings:
  - { key: J,        mods: Alt,     chars: "\x1bj"                       }
  - { key: K,        mods: Alt,     chars: "\x1bk"                       }
  - { key: H,        mods: Alt,     chars: "\x1bh"                       }
  - { key: L,        mods: Alt,     chars: "\x1bl"                       }
