[user]
    name = {{ .gitconfig.name }}
    email = {{ .gitconfig.email }}

[alias]
    s = status
    st = status
    l = log --oneline --graph
    r = rebase

[init]
    defaultBranch = main

[fetch]
    prune = true

[pull]
    ff = only

[core]
    editor = {{ .editor }}

[color]
    ui = auto
