{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash -x

PACKAGES=(
    fish
    starship
    tmux
    neovim
    exa
    bat
    ripgrep
    fd
    zoxide
    fzf
    node
    hyperfine
    lazygit
    chezmoi
    cmake
    cmake-docs
    clang-format
    python3
    black
)

CASKS=(
    alacritty
    font-lekton-nerd-font
    docker
    vagrant
)

FISH_PLUGINS=(
    jorgebucaran/fisher
    jethrokuan/z
)

# Install Homebrew if it is not installed on the system
if test ! $(which brew); then
    printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    printf '\n\n\e[0mHomebrew found. Continuing...'
fi

printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install ${PACKAGES[@]}

printf '\nRemoving out of date packages...\n'
brew cleanup

brew tap homebrew/cask-fonts

printf '\nInstalling cask...\n'
brew install cask

printf '\nInstalling cask apps...\n'
brew install --cask ${CASKS[@]}

SHELL={{ .shell | quote }}

if [[ $SHELL == */fish ]]; then
    $SHELL << EOF

    printf '\nInstalling Fisher...\n'
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source

    printf '\nInstalling fish shell plugins...\n'
    fisher install ${FISH_PLUGINS[@]}

EOF
fi

printf '\nInstalling Neovim dependencies...\n'
pip3 install -U pynvim

# Install rustup if it is not installed on the system
if test ! $(which rustup); then
    printf '\n\n\e[33mrustup not found. \e[0mInstalling rustup...'
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

printf '\nUpdating npm...\n'
npm install -g npm

printf '\n\nDone!\n'

{{ end -}}
