{{ if eq .chezmoi.os "linux" -}}

#!/usr/bin/env bash -x

readonly PACKAGES=(
    alacritty
    fish
    starship
    tmux
    neovim
    exa
    bat
    ripgrep
    fd
    zoxide
    fzf
    btop
    nodejs
    npm
    hyperfine
    lazygit
    chezmoi
    cmake
    python3
    python-pip
    python-black
    xclip
    rust-analyzer
    openssh
    strace
    firefox
    bspwm
    git-delta
    git-lfs
    just
    fping
    github-cli
    lua
    ctags
    bear
    fennel
    emacs
)

readonly FISH_PLUGINS=(
    jorgebucaran/fisher
    jethrokuan/z
)

sudo pacman -Syu # Syncing updates
sudo pacman -S ${PACKAGES[@]}

SHELL="$(which fish)"

# Install fish plugins.
if [[ "$SHELL" == "*/fish" ]]; then
    $SHELL << EOF
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    fisher install ${FISH_PLUGINS[@]}
EOF
fi

# Install tmux plugin manager.
if [[ ! -d "~/.tmux/plugins/tpm" ]]; then
    printf '\nInstalling Tmux Plugin Manager...\n'
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# Install rustup.
if [[ -z "$(which rustup)" ]]; then
    printf '\n\n\e[33mrustup not found. \e[0mInstalling rustup...'
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

cargo install stylua git-stack
pip3 install -U pynvim # Install Neovim dependency
pip3 install --user tmuxp # A session manager for tmux
npm install -g npm

{{ end -}}
