{{ if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env bash -x

readonly PACKAGES=(
    fish
    starship
    tmux
    tmuxp
    neovim
    exa
    bat
    ripgrep
    fd
    zoxide
    fzf
    btop
    node
    hyperfine
    lazygit
    telnet
    chezmoi
    cmake
    cmake-docs
    clang-format
    python3
    black
    rust-analyzer
    binutils
    git-delta
    git-lfs
    just
    fping
    gh
    lua
    ctags
    bear
    dust
    fennel
    emacs
    onefetch
)

readonly CASKS=(
    amethyst
    alacritty
    font-lekton-nerd-font
)

readonly FISH_PLUGINS=(
    jorgebucaran/fisher
    jethrokuan/z
)

# Install brew.
if [[ -z "$(which brew)" ]]; then
    /usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update
brew install ${PACKAGES[@]}
brew cleanup
brew tap homebrew/cask-fonts
brew install cask
brew install --cask ${CASKS[@]}

SHELL="$(which fish)"

# Install fish plugins.
if [[ "$SHELL" == "*/fish" ]]; then
    $SHELL << EOF
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    fisher install ${FISH_PLUGINS[@]}
EOF
fi

# Install tmux plugin manager.
if [[ ! -d "~/.tmux/plugins/tpm" ]]; then
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# Install rustup.
if [[ -z "$(which rustup)" ]]; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

cargo install stylua git-stack
pip3 install -U pynvim # nvim dependency
npm install -g npm

printf '\nDone!!\n'

{{ end -}}
